@CHARSET "UTF-8";
@import "mysite.css";

/* 댓글 입력 */
#comment-input{
	float:right;
	margin:2px auto 2px auto;
}
#comment-text{
	width:85%;
	height:30px;
	
}
#comment-Writer{
	border-bottom:1px solid #333;
	border-right:1px dotted #333;
	width: 100px;
	
}
#comment-content{
	width:85%;
	border-top:1px solid #333;
}

.comment{
	height:30px;
}
#comment-delete{
	float:right;
	width: 20px;
	height:25px;
	border-left:1px dotted #333;
	border-top:1px solid #333;
}

#board { margin:20px auto;	width:550px; }


#search_form {
	width:100%;
	margin:50px auto 20px auto; 
	text-align:center; 	 
}

input[type="text"]	{
	padding:5px; 
	border:1px solid #aaa
}

input[type="submit"] {
	padding:5px; 
	border:1px solid #aaa;
	background-color: #aaa;
	font-weight:bold;
	color:#fff;
}

input#kwd	{
	width:250px;
}


.board-form {
	margin-top:30px
}

.tbl-ex		{
	width:100%;
	margin:10px auto; 
	border-collapse:collapse;
	border-bottom:2px solid #333;
}

.tbl-ex th, 
.tbl-ex td	{ 
	padding:8px;
	text-align:center; 	 
}
	
.tbl-ex th	{ 
	border-top:2px solid #333;
	border-bottom:2px solid #333; 
	background-color:#999; 
	font-size:1.1em; 
	color:#fff 
}

.tbl-ex td {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}

.tbl-ex2		{
	width:100%;
	margin:10px auto; 
	border-collapse:collapse;
	border-bottom:2px solid #333;
}


.board-form .tbl-ex td {
	text-align:left
}

.board-form .tbl-ex td.label {
	text-align:right;
	font-weight:bold;
	width:60px; 
}

.board-form .tbl-ex input[ name='title' ] {
	width: 480px;
}

.board-form .tbl-ex textarea#content {
	width: 470px;
	height: 200px;
	padding: 10px;
	resize: none;
	outline: none;	
}

.board-form select {
	padding:5px;
}


.tbl-ex2 a { text-decoration:none; font-weight:bold; }

.tbl-ex2 th {
	padding:8px;
	text-align:center; 
}
.tbl-ex t2 {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}

.tbl-ex2 td	{ 
	padding:8px;
	text-align:left; 	 
}
.tbl-ex2 th	{ 
	border-top:2px solid #333;
	border-bottom:2px solid #333; 
	background-color:#999; 
	font-size:1.1em; 
	color:#fff 
}


div.bottom {
	width:100%;
	height:50px;
	margin:20px auto;
}

div.bottom a { 
	text-decoration:none; 
	dispaly:block;
}

div.bottom2 {
	width:100%;
	height:50px;
	margin:20px auto;
}

div.bottom2 a { 
	text-decoration:none; 
	dispaly:block;
}


a#new-book	 { 
	float:right; 
	padding:10px 20px 10px 20px ; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111 
}

.board-form .bottom a,
.board-form .bottom input[type="submit"] {
	float:right; 
	padding:10px 20px 10px 20px; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111;
	cursor: pointer	
}

.board-form .bottom a {
	margin-left: 10px;
	padding:10px 20px 11px 20px 
}
board-form .bottom2 a,
.board-form .bottom2 input[type="submit"] {
	float:right; 
	padding:10px 20px 10px 20px; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111;
	cursor: pointer	
}

.board-form .bottom2 a {
	margin-left: 10px;
	padding:10px 20px 11px 20px 
}


a.del	{
	background-color:red;
	display:block;
	width:20px;
	height:20px; 
	background:url("/mysite3/assets/images/recycle.png") no-repeat 0 0;
	font-size:0;
}
a.file{
	display:block;
	width:20px;
	height:20px; 
	background:url("/mysite3/assets/images/down.png") no-repeat 0 0;
	font-size:0;
	margin:10px auto;
	
}
/*
	게시판 리스트 페이징
*/
div.pager {
	width:100%;
	text-align:center;
}
div.pager  ul {
	height:20px;
	margin:10px auto;
}
div.pager  ul li 			{ color:#ddd; display:inline-block; margin:5px 0; width:20px ; font-weight:bold; }
div.pager  ul li.selected	{ font-size:16px; text-decoration: underline; color:#f40808 }
div.pager  ul li a,
div.pager  ul li a:visited,
div.pager  ul li a:link,
div.pager  ul li a:active	{ text-decoration: none; color:#555 }
div.pager  ul li a:hover	{ text-decoration: none; color:#f00 }


/* 첨부파일 */
#attach{
	padding-right: 15px;
	background: url('/mysite3/assets/images/ico_arrow3.gif') right 1px no-repeat;
	    font-size: 12px;
	    float:right;
	   
	
}
#attach-label{
	float:right;
	width:100%;
	 border-top: none; 
    border-bottom: none;
}
a:hover {
    text-decoration: underline;
    cursor:pointer
}
#attach-down{
	float:right;
}

