@CHARSET "UTF-8";
@import "mysite.css";




#gallery			{ margin:20px auto;	width:540px; }
#gallery ul			{ width: 100%; }

#gallery h1	{
	color:#5c5c5c;
	padding-left: 40px;
	float: left;
	background: url('/mysite4/assets/images/gallery.png') 0 0 no-repeat;
	background-size:35px;
	margin-bottom:10px;	
}

#upload-image {
	display: block;
	float: right;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #2080d0;
	background-color: #e8ecf6;
	outline: none;
	margin-bottom:10px;
}

#gallery ul	{
	width:100%;
	clear:both;
}

#gallery ul li {
	position:relative;
	float:left;
	width:114px;
	height:114px;
	padding:2px;
	margin:0 0 10px 10px;
	border:1px solid #c0c0c0;
	background-color:#e9e9e9;
	overflow-y:hidden;
}

#gallery ul li a { 
	display: block;
	font-size: 0;
	outline: none; 
}

#gallery ul li a.image {
	width:114px;
	height:114px;
	background-size: 114px;
	background-repeat: no-repeat;
	background-position: center center;
}

#gallery ul li a.del-button {
	position: absolute;
	right: 2px;
	top: 3px;
	width: 20px;
	height: 20px;
	background: url('/mysite4/assets/images/delete.png') 0 0 no-repeat;
	background-size:18px;
	display: none;
}

#gallery ul li:hover a.del-button {
	display:block;
}





/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

